langchain
langchain_community
langchain_openai
langchain_groq
langchain-ollama
langchain_huggingface
sentence-transformers
langchain_core
streamlit
ipykernel
python-dotenv
arxiv
wikipedia
duckduckgo-search
ddgs
faiss-cpu
faiss-gpu
pypdf
langchain_chroma
mysql
validators
youtube_transcript_api
pytube
numexpr
langchain_experimental
unstructured
boto3
awscli
openai
langchain_nvidia_ai_endpoints
crewai
crewai_tools
yt_dlp==2023.11.14
youtube-transcript-api==0.6.1
youtube-transcript-api
pinecone
pinecone_text